:root {
    --font-family: 'Roboto', sans-serif;
    --second-family: 'Open sans', sans-serif;
    --content-width: 1152px;
    --font-size-xxl: 58px;
    --font-size-xl: 48px;
    --font-size-l: 32px;
    --font-size-m: 28px;
    --font-size-s: 18px;
    --font-size-xs: 16px;
    --font-size-xxs: 14px;
    --font-size-nav: 20px;

    // Font colors
    --first-color: #42446e;
    --secont-color: #666;
    --blue-color: #13b0f5;
    --pink-color: #e70faa;
}
